
@{
    ViewBag.Title = "Page2";
}

<h2>Page2</h2>
@if (@ViewBag.Message != null)
{
    @ViewBag.Message
}

@if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
{
    <text>
        Hello @FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).Name </text>
}
